.footer{
  width: 100%;
  font-size: 12px;
  margin-top: 200px;
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList{
  list-style: none;
  padding: 0;
}

.fText{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 15vh;
}

.fListItem{
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}